/* @import "null.css"; */

@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

@font-face {
	font-family: "SFProDisplay";
	src: url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SFProDisplay";
	src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lutsk-sity";
	src: url("../fonts/Lutsk-sity.woff2") format("woff2"), url("../fonts/Lutsk-sity.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "AmerikaPro";
	src: url("../fonts/AmerikaPro.woff2") format("woff2"), url("../fonts/AmerikaPro.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Brozas";
	src: url("../fonts/Brozas-ExtraBlack.woff2") format("woff2"), url("../fonts/Brozas-ExtraBlack.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "KenyanCoffeeStencilSb";
	src: url("../fonts/KenyanCoffeeStencilSb-Regular.woff2") format("woff2"), url("../fonts/KenyanCoffeeStencilSb-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Kramola";
	src: url("../fonts/Kramola.woff2") format("woff2"), url("../fonts/Kramola.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "RedOctober";
	src: url("../fonts/RedOctoberLight.woff2") format("woff2"), url("../fonts/RedOctoberLight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "RuslanDisplay";
	src: url("../fonts/RuslanDisplay.woff2") format("woff2"), url("../fonts/RuslanDisplay.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Veles";
	src: url("../fonts/Veles-Bold.woff2") format("woff2"), url("../fonts/Veles-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Veselka4F";
	src: url("../fonts/Veselka4F.woff2") format("woff2"), url("../fonts/Veselka4F.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "StalinistOne";
	src: url("../fonts/StalinistOne-Regular.woff2") format("woff2"), url("../fonts/StalinistOne-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

body {
	margin: 0 auto;
}

.body {
	background-color: rgb(205, 223, 203);
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.text {
	color: rgb(30, 33, 175);
	font-family: "SFProDisplay";
	font-weight: 300;
	margin: 0px 0px 10px 0px;
}
li {
	text-decoration: underline;
	color: dodgerblue;
}
h1 {
	font-size: 40px;
	text-shadow: 1px 1px 4px rgb(5, 5, 5);
	color: rgb(83, 175, 83);
	font-family: "Supermercado One", cursive;
	margin: 0px 0px 40px 0px;
}

h2 {
	text-shadow: 2px 2px 5px rgb(0, 0, 0);
	color: blue;
	font-family: "Roboto Slab";
	font-weight: 700;
	margin: 0px 0px 10px 0px;
}

h3 {
	text-shadow: 1px 1px 4px rgb(0, 0, 0);
	text-transform: uppercase;
	color: gold;
	font-family: "Lobster";
	margin: 0px 0px 20px 0px;
}

h4 {
	text-shadow: 1px 1px 4px rgb(107, 88, 88);
	font-size: 20px;
	font-family: "Roboto Slab";
	font-weight: 500;
	color: rgb(16, 71, 23);
	margin: 0px 0px 25px 0px;
}

p {
	margin: 0px 0px 10px 0px;
}

ol {
	text-transform: uppercase;
	color: gold;
	font-family: "Lobster";
	margin: 0px 0px 40px 0px;
}

.text1 {
	line-height: 2.25;
	color: rgb(205, 91, 63);
	font-family: "Lutsk-sity";
	margin: 0px 0px 10px 0px;
}
.text2 {
	letter-spacing: 5px;
	color: rgba(164, 33, 168, 0.74);
	font-family: "AmerikaPro";
	font-weight: 500;
	margin: 0px 0px 25px 0px;
}

.text11 {
	line-height: 2.25;
	color: rgb(136, 59, 40);
	font-family: "StalinistOne";
	margin: 0px 0px 10px 0px;
}

ul {
	color: rgb(125, 180, 70);
	font-family: "Roboto Slab";
	font-weight: 500;
	margin: 0px 0px 10px 0px;
}

a {
	color: rgb(14, 55, 238);
}

.block {
	width: 75%;
	margin: 0px auto;
}

.block-11 {
	font-size: 40px;
	letter-spacing: 44px;
	width: 75%;
	margin: 0px auto;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	font-family: "Veselka4F";
	font-weight: 400;
}

.block-1 {
	outline: hidden;
	opacity: 0, 8;
}

.block-2 {
	max-height: 150px;
	overflow: auto;
	margin: 0px auto;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 50px;
}

.block-3 {
	border: 5px dashed rgb(127, 127, 255);
	border-right: 5px dashed rgb(127, 127, 255);
	border-bottom: 5px dashed rgb(127, 127, 255);
	border-left: 5px dashed rgb(127, 127, 255);
	border-radius: 30px;
	box-shadow: inset 0px 0px 20px 0px rgb(3, 2, 1), 0px 0px 20px 0px;
	font-size: 20px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 50px;
	padding: 20px;
}

.block-4 {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	margin: 0px 0px 40px 0px;
}

.block-5 {
	width: 63%;
	margin: 0px auto;
	color: rgb(147, 173, 42);
	font-size: 20px;
	font-family: "Brozas";
	font-weight: 900;
	margin: 0px 0px 30px 0px;
}

.block-6 {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 40px;
	margin-bottom: 40px;
	color: rgb(55, 42, 173);
	font-size: 20px;
	font-family: "KenyanCoffeeStencilSb";
	font-weight: 400;
}

.block-7 {
	color: blueviolet;
	margin-top: 0px;
	margin-left: 140px;
	margin-right: 0px;
	margin-bottom: 40px;
	font-size: 30px;
	font-family: "Kramola";
	font-weight: 400;
}

.block-8 {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 40px;
	color: crimson;
	font-size: 15px;
	font-family: "RedOctober";
	font-weight: 300;
}

.block-9 {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 40px;
	color: rgb(23, 20, 220);
	font-size: 20px;
	font-family: "RuslanDisplay";
	font-weight: 400;
}

.block-10 {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 60px;
	color: rgb(23, 20, 220);
	font-size: 20px;
	font-family: "RuslanDisplay";
	font-weight: 400;
}

.block-12 {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 60px;
	color: rgb(20, 220, 30);
	font-size: 20px;
	font-family: "RuslanDisplay";
	font-weight: 400;
}

.block-13 {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 60px;
}

.block-14 {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 60px;
}

.block-15 {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 60px;
}

.block-16 {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 60px;
}

.button {
	font-size: 30px;
	color: rgb(230, 17, 17);
	font-family: "SFProDisplay";
	font-weight: 700;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 50px;
	margin-right: 0px;
	display: inline-block;
	background-color: rgb(2, 44, 231);
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0px 0px 20px 5px rgb(41, 41, 41), inset 0px 0px 20px 1px rgb(234, 242, 255);
}

.inline-block {
	border: 5px dotted rgb(31, 73, 56);
	border-radius: 100px;
	box-shadow: 0px 0px 20px 5px rgb(26, 24, 23);
	margin: 0px 0px 25px 0px;
}

.inline-block-1 {
	border: 5px dotted rgb(73, 31, 37);
	border-radius: 50%;
	box-shadow: 0px 0px 20px 5px rgb(26, 24, 23);
	margin: 0px 0px 30px 0px;
}

.inline-block-2 {
	margin-top: 0px;
	margin-left: 8px;
	margin-bottom: 20px;
	margin-right: 0px;
	border: 5px solid rgb(31, 73, 33);
	border-radius: 50px 50px 0px 0px;
	box-shadow: 0px 0px 20px 5px rgb(26, 24, 23);
}

.inline-block-3 {
	margin-top: 0px;
	margin-left: 8px;
	margin-bottom: 20px;
	margin-right: 0px;
	border: 5px solid rgb(31, 73, 33);
	border-radius: 0px 0px 50px 50px;
	box-shadow: 0px 0px 20px 5px rgb(26, 24, 23);
}

.image {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.link {
	font-family: "Comforter";
	font-size: 40px;
	display: inline-block;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 30px;
	margin-right: 0px;
	background-color: rgb(204, 207, 221);
	padding: 10px;
	border-radius: 50px;
	box-shadow: 0px 0px 20px 5px rgb(41, 41, 41), inset 0px 0px 20px 1px rgb(234, 242, 255);
}

.headline-1 {
	text-shadow: 0px 5px 5px rgb(177, 177, 177);
	font-family: "CircularStd";
	font-weight: 800;
	font-size: 65px;
	color: rgb(29, 29, 29);
	text-align: center;
	margin: 140px 0px 20px 0px;
}

.text-1 {
	font-family: "CircularStd";
	margin: 0 auto;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	color: rgb(100, 100, 100);
	max-width: 750px;
}

.main-1 {
	max-width: 508px;
	margin: 224px 0px 0px 200px;
}

.headline-2 {
	text-shadow: 0px 0px 0px rgb(0, 0, 0);
	font-family: "CircularStd";
	font-weight: 700;
	color: rgb(77, 77, 77);
	font-size: 34px;
}

.text-2 {
	font-family: "CircularStd";
	font-weight: 300;
	color: rgb(#5f5f5f);
	font-size: 18px;
	line-height: 28px;
	margin: 0px 0px 100px 0px;
	line-height: 1.6;
}

.headline-3 {
	text-shadow: 0px 0px 0px rgb(0, 0, 0);
	font-family: "CircularStd";
	font-weight: 700;
	color: rgb(75, 75, 75);
	text-transform: capitalize;
	font-size: 18px;
	margin: 0px 0px 5px 0px;
	line-height: 1;
	opacity: 0.88;
}

.text-3 {
	font-family: "CircularStd";
	font-weight: 300;
	color: rgb(148, 148, 148);
	font-size: 18px;
}
